::root {
  --softBlue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --main-BG: hsl(217, 54%, 11%);
  --card-BG: hsl(216, 50%, 16%);
  --line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Outfit", sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(217, 54%, 11%);
}

.card {
  width: 300px;
  height: 520px;
  background-color: hsl(216, 50%, 16%);
  border-radius: 12px;
  box-shadow: 0px 10px 15px 3px rgba(0, 0, 0, 0.1);
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.image {
  padding: 20px 20px;
  border-radius: 20px;
  width: 300px;
}

img {
  width: 100%;
  margin: 0 auto;
  border-radius: 12px;
}

.card-info {
  width: 300px;
  padding: 0 20px;
  height: 100px;
  margin-bottom: 5px;
}

h1 {
  color: hsl(0, 0%, 100%);
  font-size: 20px;
  text-align: left;
  padding-bottom: 20px;
}

.card-info p {
  color: hsl(215, 51%, 70%);
  font-size: 14px;
  line-height: 1.5;
}

.price-container {
  width: 260px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
  border-bottom: 1px solid hsl(215, 32%, 27%);
  margin-bottom: 20px;
}

.price {
  display: flex;
  gap: 5px;
}

.eth {
  font-size: 20px;
}

.eth-price {
  color: hsl(178, 100%, 50%);
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
}

.time-left-container {
  display: flex;
  gap: 5px;
}

.time {
  font-size: 15px;
  color: hsl(215, 51%, 70%);
}

.creator-container {
  width: 260px;
  display: flex;
  align-items: center;
  text-align: center;
}

.creator-container img {
  width: 30px;
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 50%;
}

.creator-container p {
  color: hsl(215, 51%, 70%);
}

.author {
  color: hsl(0, 0%, 100%);
}
